
@{
    ViewBag.Title = "Контакти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>@ViewBag.Title</b></h2>



<address>
    <strong>Реклама на сайте:</strong>examplestuddio@gmail.com<br />
    <strong>Телефон:</strong> 8 800 355 35 35
</address>

